.sidenav {
    width: 330px;
    position: fixed;
    z-index: 1;
    left: 60px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
}

.homeList {
    padding: 0px 10px;
    position: fixed;
    right: 100px;
    left: 400px;
}

.homeContainer{
	margin-top: 2%;
}

input { width: 180px; }

label {
  display: inline-block; 
}
