<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/masterlayout}">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/homepage/index.css}" />
<title>AHA Car Rental System - Approve Application</title>
</head>
<body>
	<th:block layout:fragment="content">
		<form id="approveForm" method="post" action="/applications/approve"
			th:object="${co_application}">
			<fieldset>
				<legend>Car Owner Application ID - [[${co_application.id}]]</legend>
				<input type="hidden" name="id" th:value="${co_application.id}" />
				<div class="form-group">
					<label for="firstName">First Name</label> 
					<input id="firstName" readonly
						name="firstName" type="text" class="form-control"
						th:value="${co_application.firstName}">
				</div>
				<div class="form-group">
					<label for="lastName">Last Name</label> 
					<input id="lastName" readonly
						name="lastName" type="text" class="form-control"
						th:value="${co_application.lastName}">
				</div>
				<div class="form-group">
					<label for="dob">DOB</label>
					<input id="dob" readonly
						name="dob" type="text" class="form-control"
						th:value="${#dates.format(co_application.dob, dateFormat)}">
				</div>
				<div class="form-group">
					<label for="emailAddress">Email</label>
					<input id="emailAddress" name="emailAddress" type="email"
						class="form-control" readonly
						th:value="${co_application.emailAddress}">
				</div>

				<div class="form-group">
					<label for="phone">Phone</label> 
					<input id="phone" name="phone" readonly
						type="text" class="form-control" th:value="${co_application.phone}">
				</div>
				<div class="form-group">
					<label for="address">Address</label> 
					<input id="address" readonly
						name="address" type="text" class="form-control"
						th:value="${co_application.address}">
				</div>
				<!-- <div class="form-group">
					<label for="status">Status</label> 
					<input id="status" readonly
						name="status" type="text" class="form-control"
						th:value="${co_application.status}">
				</div> -->
				<div style="float: right;">
					<a href="/applications/browse" class="btn btn-outline-warning" 
						th:classappend="|btn-padding-left btn-padding-right|">Cancel</a>&nbsp;&nbsp;&nbsp;
					<button id="btnSubmit" type="submit"
						class="btn btn-outline-success" th:classappend="|btn-padding-left btn-padding-right|">Approve</button>
				</div>
			</fieldset>
		</form>
	</th:block>

	<th:block layout:fragment="footer"></th:block>

</body>
</html>