<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/masterlayout}">
<head>
<link rel="stylesheet" type="text/css"
	th:href="@{/css/homepage/index.css}" />
<title>AHA Car Rental System - Browse List of Pending
	Application</title>
</head>
<body>
	<th:block layout:fragment="content">
		<div>
			<span style="font-size: 1.5em">List of Applications</span> <span
				style="float: right;"> <a
				class="btn btn-outline-success btn-lg" href="/applications/new">Apply
					for a Car Owner</a>
			</span>
		</div>
		<p>&nbsp;</p>
		<table class="table table-hover">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">ID</th>
					<th scope="col">First Name</th>
					<th scope="col">Last Name</th>
					<th scope="col">DOB</th>
					<th scope="col">Email</th>
					<th scope="col">Phone</th>
					<th scope="col">Address</th>
					<th scope="col">Status</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="co_application,iterStat : ${applications}"
					th:onclick="'window.location.href=\'' + @{/applications/approve/{id}(id=${co_application.id})} + '\''">
					<th scope="row" th:text="${iterStat.count}"></th>
					<td th:text="${co_application.id}"></td>
					<td th:text="${co_application.firstName}"></td>
					<td th:text="${co_application.lastName}"></td>
					<td th:text="${#dates.format(co_application.dob, dateFormat)}"></td>
					<td th:text="${co_application.emailAddress}"></td>
					<td th:text="${co_application.phone}"></td>
					<td th:text="${co_application.address}"></td>
					<td th:text="${co_application.status}"></td>
				</tr>
			</tbody>
		</table>
	</th:block>

	<th:block layout:fragment="footer"></th:block>

</body>
</html>